<div id="catalogWrapper">
	<div id="catalogBanner">
		<div class="row">
			<div class="container">
                <div class="col-md-12">
                    <div class="catalog-banner-title">
                        <h2>Our Products</h2>
                        <div class="section-title-underline"></div>
                        <p>Check out our line up of products below!</p>
                    </div>
                
                </div>
			</div>
		</div>
	</div>


	<div id="ourPhilosophyWrapper">
		<div class="row">
			<div class="container">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-title">
						<h2>About Our Foods</h2>
						<div class="section-title-underline"></div>
					</div>
					<div class="section-content">
						<p class="italic">Food is the universal language for friendship and love. We pride ourselves in knowing that we produce the highest quality products that showcase the best flavors Latin America has to offer. Our goal is to share these exquisite flavors with you as you sit around the table with the company of those you hold dear to your heart.</p>

						<div class="gmo-free-badges-wrapper">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<img src="assets/images/gmo-free-badges.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    {{#each model as |category|}}
        <div {{action "displayProducts" category on="click"}} class="catalog-title-banner" id="{{category.headerBgId}}">
            <h1>{{category.name}}</h1>
        </div>
        <div class="catalog-categories-body" id="{{category.backgroundId}}">
            <div class="row">
                <div class="container">
                    {{#if category.displayProducts}}
                        <div class="catalog-body-padding">
                        {{#each category.products as |product|}}
                            {{#if product.isExtended}}
                                <div class="expanded-product-wrapper">
                                    <div class="col-md-12">
                                        <div {{action "displayProductInfo" product on="click"}}>
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="ind-product-wrapper">
                                                <img src="{{product.productImg}}"><br/>
                                                <img class="thumbnailImage" src="{{product.productImg}}">
                                                <img class="thumbnailImage" src="{{product.labelImg}}">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="product-info-wrapper">
                                                <h1>{{product.engName}}</h1>
                                                <h4>{{product.spaName}} - {{product.quantity}}</h4>
                                                <p>{{product.description}}</p>
                                                <button class="btn btn-default"><a href="#">Get a Quote</a></button> 
                                                <button class="btn btn-default"><a href="#">Download Catalog</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            {{else}}
                                <div class="col-md-4">
                                    <div {{action "displayProductInfo" product on="click"}} class="ind-product-wrapper">
                                        <div> 
                                            <img src="{{product.productImg}}" >
                                            <h5>{{product.engName}}</h5>
                                            <p>{{product.spaName}}<br/>{{product.quantity}}</p>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                        <div class="clearfix"></div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>                  
    {{/each}}

     

	{{contact-section}}
</div>